@page "/counter"

<PageTitle>Guid Generator</PageTitle>

<h1>Guid Generator</h1>

<p role="status">@value</p>

<button class="btn btn-primary" @onclick="CreateNewGuid">Generate</button>

@code {
    private Guid value = Guid.NewGuid();

    private void CreateNewGuid()
    {
        value = Guid.NewGuid();
    }

}
