@page "/"

<PageTitle>Index</PageTitle>

<h1>Greetings!</h1>
<p>@Directory.GetCurrentDirectory()</p>
<div>
    @foreach (string drive in Directory.GetLogicalDrives())
    {
        <p>@drive</p>
    }
</div>

<div>
    @foreach (string directory in Directory.GetDirectories(Directory.GetCurrentDirectory()))
    {
        <p>@directory</p>
    }
</div>
